<!DOCTYPE html>
<html>
<head>
  <title>Twofactor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
  <p style="color: <%= key.eql?("error") ? "red" : "green" %>;border:100%;border: 2px solid;">
    <strong>
      <%= value %>
    </strong>
  </p>
<% end %>

<%= yield %>

</body>
</html>
